body{
    padding:0% 15%;
    }
p{
    color: rgb(0, 149, 255);
}
#img2{
    margin: 0% -15%;
}
.parg3{
    color: rgb(176, 176, 176);
    font-size: 10px;
}
.parg4{
    color: #000;
}
a{
    color: rgb(0, 149, 255);
}
data{
    color: rgb(166, 166, 166);
    font-size: 12px;
}